@mixin header-styles($background, $color){

	.toolbar {
		box-shadow: -1px 2px 4px #03374a;
	}
	.toolbar-background
	{
		border: none !important;
		border-color: $white-b !important;
		background-color: $background;
		border: 0px;
	}

	.toolbar-title,
	.back-button,
	.bar-button
	{
		font-weight: 500;
		font-size: 2.2rem;
		color: $theme-color-3;
	}
}

ion-header {
	@include header-styles(color($colors, header, base), color($colors, header, contrast));
}
