page-home {
  // background-color: $white-a;

	ion-content, .content-ios, .content {
		background-color: $theme-color-1;
		// background-color: $theme-color-1;
	}

	ion-header {
		@include header-styles(color($colors, header, base), color($colors, header-alt, contrast));
		.toolbar-background
		{
			border: none !important;
		}
	}

	.listing-header
	{
		.header-logo
		{
			width: 34vw;
		}

		.active {
			color: $theme-color-2;
		}
	}

	.top-content {
		padding-bottom: 40px;
		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 20%;
		}
		.app-title {
			color: white;
		}
	}

	.listing-content
	{
		transition: margin 700ms;
		&.push-for-search {
			margin-top: 60px
		}

		&.push-for-filter {
			margin-top: 210px
		}

		&.push-for-location {
			margin-top: 55vh;
		}

		ion-slides {
			height: 24vh;

			.swiper-container {
				background-color: white;
				border-top-right-radius: 15px;
				border-top-left-radius: 15px;
			}
			ion-slide {
				align-items: flex-start;

				img {
					border-radius: 19px;
					padding: 7px;
					height: 100% !important;
				}
			}
		}

		.provider-card {

			background-size: contain;
			height: 200px;
			// min-height: 100px;
			// max-height: 200px;
			padding: 0px;
			background-position: center;
			color: white;

			.item-inner {
				border: 0px;
				padding: 0px !important;
			}

			.top-bar {
				position: absolute;
				top: 0px;
			}

			.bottom-bar {
				position: absolute;
				bottom: 0px;
				white-space: normal;
				padding-left: 10px;
			}
			.content-row
			{
				&.closed {
					img {
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
				.item-title{
					// overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
				}
	
				&.one-line
				{
					align-items: center;
	
					.item-description
					{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
	
				.item-icons {
					letter-spacing: 5px;
					padding-top: 11px;
	
					ion-icon {
						font-size: 20px;
					}
	
					.item-icon {
						color: lightslategrey;
					}
				}
	
				.item-end {
					color: $white-d;
					text-align: center;
					align-self: center;
	
					.label {
						font-size: 1.0rem;
						font-weight: 500;
					}
					.value {
						font-size: 1.2rem;
						font-weight: 400;
					}
				}
			}

			// &::after {
			// 	display: block;
			// 	position: relative;
			// 	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(12, 12, 12, 0.397) 100%);
			// 	height: 200px;
			// 	width: 100%;
			// 	content: '';
			// }
		}
		

		.closed-restaurants-button
		{
			margin: 20px 10px;
			// margin-top: 20px;
			width: 95%;

			@include call-to-action-button-styles(color($colors, button-alt, base), color($colors, button, contrast));
		}
	}

	.ratings-list
	{
		@include rating-item-styles($theme-color-1, $theme-color-2);
		height: 16px;

		.rating-icon {
			background-color: transparent;
			color: gold;
		}
	}

	.bold {
		color: black;
    font-weight: 300;
	}
}
