page-home {
  // background-color: $white-a;

	ion-content, .content-ios, .content {
		background-color: $theme-color-1;
		// background-color: $theme-color-1;
	}

	ion-header {
		@include header-styles(color($colors, header, base), color($colors, header-alt, contrast));
		.toolbar-background
		{
			border: none !important;
		}
	}

	.listing-header
	{
		.header-logo
		{
			width: 34vw;
		}

		.active {
			color: $theme-color-2;
		}
	}

	.top-content {
		padding-bottom: 35px;
		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 25%;
			padding-top: 40px;
		}
		.app-title {
			color: white;
			font-size: 3.2rem;
		}
	}

	.listing-content
	{
		box-shadow: -3px -5px 13px #043e5463;

		.provider-card {

			&.ad {
				background-image: url('https://preview.ibb.co/erQJWK/img1.jpg');
			}

			background-size: cover;
			height: 178px;
			// min-height: 100px;
			// max-height: 200px;
			padding: 0px;
			background-position: center;
			color: white;

			.item-inner {
				border: 0px;
				padding: 0px !important;
			}

			.top-bar {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				// height: 45px;
				padding-bottom: 3px;
				padding-left: 10px;
				background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(12, 12, 12, 0.597) 100%);

				.row {
					position: absolute;
					bottom: 0;
				}
			}

			.bottom-bar {
				position: absolute;
				bottom: 0px;
				white-space: normal;
				padding-left: 10px;
			}
			.content-row
			{
				&.closed {
					img {
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
	
				&.one-line
				{
					align-items: center;
	
					.item-description
					{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
	
				.item-icons {
					letter-spacing: 5px;
					padding-top: 11px;
	
					ion-icon {
						font-size: 20px;
					}
	
					.item-icon {
						color: lightslategrey;
					}
				}
	
				.item-end {
					color: $white-d;
					text-align: center;
					align-self: center;
	
					.label {
						font-size: 1.0rem;
						font-weight: 500;
					}
					.value {
						font-size: 1.2rem;
						font-weight: 400;
					}
				}
			}

			// &::after {
			// 	display: block;
			// 	position: relative;
			// 	background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, rgba(12, 12, 12, 0.397) 100%);
			// 	height: 200px;
			// 	width: 100%;
			// 	content: '';
			// }
		}

		.item-title{
			// overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			font-weight: 500;
			font-size: 2.0rem;
		}
	}

	.bold {
		color: black;
    font-weight: 300;
	}
}
