page-sign-up {
  .error-message
  {
    padding: 0px 16px;
    color: red;
  }
 .signup-content
 {
   .signup-form {
     padding: 0px 16px;
   }


  .login-button {
    background-color: $theme-color-2;
  }
   .alt-options
   {
     padding: 0px 16px;
     .button
     {
       margin: 0px;
       padding: 0px;
       font-size: 1.4rem;
     }

     .forgot-button
     {
       color: $white-d;

       .button-inner
       {
         justify-content: flex-end;
       }
     }

     .signup-button
     {
       font-weight: 500;
       color: $theme-color-2;

       .button-inner
       {
         justify-content: flex-start;
       }
     }
   }

   .step3 {
     .sub-info {
       font-size: 1.0rem;
       color: gray;
     }
   }
 }
}
