page-view-document {

  .content {
    background-color: $white-a;
  }

  .card-title {
    padding-top: 16px !important;
    padding-left: 23px !important;
    padding-right: 23px !important;
    color: white;
    background-color: $theme-color-2;
  }

}
