page-details {
  .top-bar {
    padding-left: 0 !important;
    background-color: $white-a;

    .avatar {
      img {
        width: 100px;
        height: 100px;
      }
    }

    .description {
      white-space: normal;
    }

  }

  .main-info {
    .card-title {
      padding-top: 16px !important;
      padding-left: 23px !important;
      padding-right: 23px !important;
      color: white;
      background-color: $theme-color-2;
    }
    .packages {
      .item-description {
        white-space: normal;
      }

      .list-item {
        border: 0;
      }
    }

    .pay-button {
      background-color: $theme-color-2;
    }
  }
}
